header {
  height: 400px;
  width: 100%;
  background-color: #e87800;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

.Avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Username {
  display: flex;
  justify-content: center;
  align-items: center;
}