.container {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

#tweet-text {
  width: 400px;
}

button {
  display: flex;
  background-color: #4056A1;
  font-family: "Bungee";
  color: #ffffff;
}

.counter {
  color: red;
}